.vscode/**
.vscode-test/**
node_modules/**
src/**
.gitignore
.yarnrc
.npmrc
esbuild.js
esbuild.config.mjs
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/biome.json
**/*.map
**/*.ts
**/.vscode-test.*
.husky/**
.pnpm-store/**
mise.toml
pnpm-lock.yaml
*.vsix
test.ts
